@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


body{
background-color: #0e0e0e;
font-family: 'Montserrat', sans-serif;


}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container{
width: 1200px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
height: 95vh;

}
.container .box{
background-color:#fff;
width: 41.5%;
height: 380px;
box-shadow: 0 2px 5px  rgba(0,0,0,.9);
display: flex;
flex-wrap: wrap;
justify-content: center;


}
.container .box h1{
font-size: 56px;
text-align: center;
font-weight: normal;
padding-top: 35px;
font-family: sans-serif;
}
input,label, .form-button{
display: inline-block;
width: 100%;
}
input{
outline: none;
border: none; 
border-bottom: 1.5px solid #afaeae;

}


.block{
width: 76%;    
}
label{
color:#000;
opacity: 0.8;
font-size: 14px;
line-height: 21px;
padding-bottom: 5px;
}
.block form{
padding: 28px 0;
position: relative;
}

form .form-control:first-child {
padding-bottom: 19px;

}
 input[type="email"], input[type="password"],input[type="text"]  {
color: #000000;
font-size: 20px;
padding-bottom: 10px;
line-height: 21px;
 }

 .password-control{
padding-right: 35px;

 }




.form-button{
padding-top: 12px;
padding-bottom: 12px;
cursor:pointer;
background-color:#0e0e0e;
color:#fff; 
font-size: 18px;
outline:none;
border:none;
border-radius:4px;
opacity: 0.9;
margin-top: 25px;
box-shadow:0px 0px 5px rgba(0,0,0,.3);


   
}
.form-button:hover{
background-color:#0e0e0e;
color:#fff; 
opacity: 0.7;

}

.click-view{
display: block;
cursor: pointer;
border:none; 
outline: none; 
position: absolute;
top: 50%;
right: 0%;
transform: translate(-50,-50%);
z-index: 1;
background-color:transparent;

}
.click-view:hover + .login-control{
padding-bottom: 8.5px;
 border-bottom: 3px solid #7e7d7d;

}

.click-view span{
display: block;
color:#000000;
background-color: transparent;
font-size: 24px;
opacity: 0.7;
}

@media (max-width:769px){
 .container{width: 100%;
height: 100%;}
.container .box{

    width: 41.5%;
    height: 100%;
    }
}


.mywork{
text-align: center;
}

.mywork p{
color:#fff;

}
.mywork a{
text-decoration: none;
display: inline-block;
color:#fefefe;
}


 
  
  